{% extends "base" %}

{% block body %}
    <img style="float:right;" src="/laravel/public/img/weis_center.jpg" />

    <div style="width:25%">
        <h3>HPC</h3>
        <ul>            
            <li><a href='hpc/monitor'>HPC Pipeline Monitor</a></li>
            <li><a href='hpc/batches'>HPC Batch Monitor</a></li>
        </ul>

        <h3>Specimen Stuff</h3>
        <ul>
            <li><a href='upload'>Bob's id file uploads</a></li>        
            <li><a href='specimens'>Specimen SNPs</a></li>        
        </ul>

        <h3>eMERGE</h3>
        <ul>        
            <li><a href='http://phekb.org/'><img src='/laravel/public/img/icon_external_site.gif'/> pheKB</a></li>
            <li><a href='tracking'>eMERGE Review</a></li>
            <li><a href='patient'>eMERGE Patients</a></li>
        </ul>

        <h3>Other</h3>
        <ul>        
            <li><a href='sig'>SIG Parsing</a></li>
            <li><a href='/trac'><img src='/laravel/public/img/icon_external_site.gif'/> Trac Wiki</a></li>
            <li><a href='#'><img src='/laravel/public/img/icon_external_site.gif'/> caTissue (coming soon)</a></li>
            <li><a href='#'><img src='/laravel/public/img/icon_external_site.gif'/> Galaxy (coming soon)</a></li>
        </ul>
    </div>
{% endblock %}