{% extends "base" %}

{% block body %}
    <img style="float:right;" src="/laravel/public/img/weis_center.jpg" />

    <div style="width:25%">
        <h3>HPC</h3>
        <ul>            
            <li><a href='hpc/monitor'>HPC Pipeline Monitor</a></li>
            <li><a href='hpc/batches'>HPC Batch Monitor</a></li>
        </ul>

	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>

    </div>
{% endblock %}
