<table style='float:left' class='hovertable'>
    <th >
        <input type="checkbox" name="move[]" value="{{fq.name}}" class='selectedId' />
        <a id="showfilelog" fq="{{fq.name}}" href="" style="color: rgb(255, 255, 255); background-color:rgb(83, 99, 120); padding: 2px 6px 2px 6px; ">[{{fq.priority}}] {{fq.name}}</a>
    </th>    
</table>
